.valsp{
    font-size: 14px;
    color: rgba(255, 0, 55, 0.918);
    position:absolute;
    margin-left: 10%;
    background-color: white;
}
.valsp1{
    font-size: 14px;
    color: rgba(255, 0, 55, 0.918);
    position:absolute;
    margin-left: 10%;
    background-color: white;
}
.valspp{
    font-size: 14px;
    color: rgba(255, 0, 55, 0.918);
    position:absolute;
    margin-left: 15%;
    background-color: white;
}
.lbtn{
    border-radius:0px;
    
}

.ssppnn{
    margin-left: 10%;
}